    <div class="hero-wrap" style="background-image: url(assets/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 text-center" data-aos="fade-up">
            <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Property</span></p>
            <h1 class="mb-3 bread">Property</h1>
          </div>
        </div>
      </div>
    </div>

		<!-- Abenwood Search Component -->
    <app-abenwood-search></app-abenwood-search>

    <app-property-list [list]="list$ | async" (propertySelected)="viewProperty($event)"></app-property-list>

		<app-abenwood-subscribe></app-abenwood-subscribe>
