<div class="top">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col">
        <p class="social d-flex">
          <a href="https://www.facebook.com/abenwood/"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-google"></span></a>
          <a href="#"><span class="icon-pinterest"></span></a>
        </p>
      </div>
      <div class="col d-flex justify-content-end">
        <p class="num"><span class="icon-phone"></span> +1 740 274 9217</p>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark abenwood_navbar bg-dark abenwood-navbar-light"
  id="abenwood-navbar"
  data-aos="nav-scrolled"
  data-aos-offset="850">
  <div class="container">
    <div class="row">

        <button
          class="navbar-toggler pr-4 pl-4"
          type="button"
          (click)="toggleNavbarCollapse()"
              [attr.aria-expanded]="!(isCollapsed | async)"
               aria-controls="collapseNavbar"
        >
          <span class="oi animated" [ngClass]="(isCollapsed | async) ? 'fadeIn oi-menu':'fadeIn oi-x'"></span>
        </button>

        <img class="navbar-brand logo-img img-thumbnail" src="assets/images/logo_A.jpg" alt="Abenwood Logo" width="35">
        <a class="navbar-brand logo-text animated">benwood<span>Property</span>Solutions</a>

    </div>

    <div id="collapseNavbar" class="collapse navbar-collapse animated justify-content-center fadeInDown" [ngbCollapse]="(isCollapsed | async)">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [ngClass]="[isActive('home'), !(isCollapsed | async) ? '' : 'hvr-underline-from-left']"><button (click)="navigateTo('home')" class="nav-link btn btn-link">Home</button></li>
        <li class="nav-item" [ngClass]="[isActive('properties'), (!(isCollapsed | async) ? '' : 'hvr-underline-from-left')]"><button (click)="navigateTo('properties')" class="nav-link btn btn-link">Property</button></li>
        <li class="nav-item" [ngClass]="[isActive('about'), (!(isCollapsed | async) ? '' : 'hvr-underline-from-left')]"><button (click)="navigateTo('about')" class="nav-link btn btn-link">About</button></li>
        <li class="nav-item" [ngClass]="[isActive('blog'), (!(isCollapsed | async) ? '' : 'hvr-underline-from-left')]"><button (click)="navigateTo('blog')" class="nav-link btn btn-link">Blog</button></li>
        <li class="nav-item" [ngClass]="[isActive('contact'), (!(isCollapsed | async) ? '' : 'hvr-underline-from-left')]"><button (click)="navigateTo('contact')" class="nav-link btn btn-link">Contact</button></li>
        <!-- <li class="nav-item cta">
          <a href="/contact" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-In</a>
        </li>
        <li class="nav-item cta cta-colored">
          <a href="/contact" class="nav-link"><span class="icon-pencil"></span> Sign-Up</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
