<app-abenwood-top-navbar></app-abenwood-top-navbar>


<router-outlet></router-outlet>

<footer class="abenwood-footer abenwood-bg-dark abenwood-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="abenwood-footer-widget mb-4">
              <h2 class="abenwood-heading-2">Abenwood Property Solutions</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="abenwood-footer-social list-unstyled float-md-left float-lft mt-5">
                <li data-aos="fade-up" data-aos-delay="0"><a href="#"><span class="icon-twitter"></span></a></li>
                <li data-aos="fade-up" data-aos-delay="100"><a href="https://www.facebook.com/abenwood/"><span class="icon-facebook"></span></a></li>
                <li data-aos="fade-up" data-aos-delay="200"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="abenwood-footer-widget mb-4 ml-md-5">
              <h2 class="abenwood-heading-2">Buy</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home For Sale</a></li>
                <li><a href="#" class="py-2 d-block">Open Houses</a></li>
                <li><a href="#" class="py-2 d-block">New Listing</a></li>
                <li><a href="#" class="py-2 d-block">Recently Reduce</a></li>
                <li><a href="#" class="py-2 d-block">Off-Market Homes</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="abenwood-footer-widget mb-4">
              <h2 class="abenwood-heading-2">Sell</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Sell Your Home</a></li>
                <li><a href="#" class="py-2 d-block">Get A Home Valuation</a></li>
                <li><a href="#" class="py-2 d-block">Local Home Prices</a></li>
                <li><a href="#" class="py-2 d-block">Guides &amp; Rules</a></li>
                <li><a href="#" class="py-2 d-block">Others</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="abenwood-footer-widget mb-4">
              <h2 class="abenwood-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">3788 State Road, Sunbury, Ohio, USA</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 740 274 9217</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@abenwoodpropertysolutions.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart text-danger" aria-hidden="true"></i> by JFlynnDesigns <img src="assets/images/icons/jfd_logo.png" alt="JFlynn Designs Logo" width="50" style="border-radius: 50%;"></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
  <!-- <div id="abenwood-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->
